<div class="container container_liste nice_nical_benito">
    <div class="hide" id="add"></div>
    <div class="row ">
        <div class="header_liste d-flex">
            <div class="d-flex">
                <i class="bx bx-collection"></i>
                <h3 class="text_header  ">
                    Liste des Categories
                </h3>
            </div>
            <a href="/addingCategory" class="btn_ajout_item">
                Ajouter categorie
            </a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categorie</th>
                    <th scope="col">Sous categories</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% let i = 0 ; cat.forEach(category => { %>
                <tr>
                    <th scope="row"><%= ++i %></th>
                    <td><%= category._Name %></td>
                    <td>
                        <% category._SubCategory.forEach(sub=> {%>
                            <span class="sous-category"><%= sub %></span>
                        <% }); %>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <a href="/updatingCategory/<%= category._id %>">
                                <button type="button" class="btn update_btn">Modifier</button></a>
                            <a href="/deleteCategory/<%= category._id %>">
                                <button type="button" class="btn delete_btn">Supprimer</button>
                            </a>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>