<div class="container container_liste nice_nical_benito">
    <div class="hide" id="add"></div>
    <div class="row ">
        <div class="header_liste d-flex">
            <div class="d-flex">
                <i class="bx bx-collection"></i>
                <h3 class="text_header  ">
                    Liste des Commandes
                </h3>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom du client</th>
                    <th scope="col">Montant Total</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <th scope="row">
                        </th>
                        <td>
                            <%= order._FirstName %> <%= order._LastName %>
                        </td>
                        <td>
                            <%= order._TotalAmount %>
                        </td>
                        <td>
                            <%= order._Status %>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn update_btn">Details</button>
                                <a href="">
                                    <button type="button" class="btn delete_btn">Terminer</button>
                                </a>
                            </div>
                        </td>
                    </tr>
            </tbody>
            <!-- Button trigger modal -->
  
            
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Detail de la commande</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="commande_detail">
            <span>Nom du client</span> : <%= order._FirstName %> <%= order._LastName %> <br>
            <span>Produits commandes</span> :  <br>
            <span>Adresse du client</span> : <%= order._DeliveryAdress %> <br>
            <span>Numero Tel</span> : <%= order._Numero %> <br>
            <span>Total prix</span> : <%= order._TotalAmount %> <br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>