<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% let i=0 ; pro.forEach(product=> { %>
                    <tr>
                        <th scope="row">
                            <%= ++i %>
                        </th>
                        <td>
                            <%= product._Title %>
                        </td>
                        <td>
                            <% product._Category.forEach(sub=> {%>
                                <%= sub %>
                                    <% }); %>
                        </td>
                        <td>
                            <%= product._Princing._Price %>
                        </td>
                        <td>
                            <%= product._Quantity %>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href="/updatingProduct/<%= product._id %>">
                                    <button type="button" class="btn btn-warning">Update</button></a>
                                <a href="/deleteProduct/<%= product._id %>">
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>