<div class="container container_liste nice_nical_benito">
    <div class="hide" id="add"></div>
    <div class="row ">
        <div class="header_liste d-flex">
            <div class="d-flex">
                <i class="bx bx-collection"></i>
                <h3 class="text_header  ">
                    Liste des produits
                </h3>
            </div>
            <a href="/addProduct" class="btn_ajout_item">
                Ajouter produit
            </a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <% let i=0 ; pro.forEach(product=> { %>
                    <tr>
                        <th scope="row">
                            <%= ++i %>
                        </th>
                        <td>
                            <%= product._Title %>
                        </td>
                        <td>
                            <% product._Category.forEach(sub=> {%>
                                <%= sub %>
                            <% }); %>
                        </td>
                        <td>
                            <%= product._Princing._Price %>
                        </td>
                        <td>
                            <%= product._Quantity %>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href="/updatingProduct/<%= product._id %>"">
                                    <button type="button" class="btn update_btn">Update</button></a>
                                <a href="/deleteProduct/<%= product._id %>">
                                    <button type="button" class="btn delete_btn">Delete</button>
                                </a>
                            </div>
                        </td>
                        
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</div>