<div class="container">
    <form action="/products/<%=pro._id%>" enctype="multipart/form-data" method="post" class="row g-3">
        <div class="col-12">
            <label for="name" class="form-label">Nom Produits</label>
            <input type="text" value="<%= pro._Title %>" class="form-control" name="name">
        </div>
        <h4>Categories</h4>
        <div class="col-12">
            <ul class="list-group">
                <% cat.forEach(category=> { %>
                    <li class="list-group-item">
                        <% if (pro._Category.indexOf(category._Name) === -1){ %>
                        <input class="form-check-input me-1" type="checkbox" name="category[]"
                            value="<%= category._Name %>" aria-label="...">
                        <% } else { %>
                            <input class="form-check-input me-1" type="checkbox" name="category[]" value="<%= category._Name %>"
                                checked aria-label="...">
                            <% } ; %>
                        <%= category._Name %>
                            <% if(category._SubCategory.length != 0) {%>
                                <ul class="list-group">
                                    <% category._SubCategory.forEach(sub=> {%>
                                        <li class="list-group-item">
                                            <% if (pro._Category.indexOf(sub) === -1){ %>
                                            <input class="form-check-input me-1" type="checkbox" name="category[]"
                                                value="<%= sub %>" aria-label="...">
                                            <% } else { %>
                                                <input class="form-check-input me-1" type="checkbox" name="category[]" value="<%= sub %>" checked aria-label="...">
                                            <% } ; %>
                                                <%= sub %>
                                        </li>
                                        <% }); %>
                                </ul>
                                <% }; %>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="col-md-6">
            <label for="frame" class="form-label">Image</label>
            <input type="file" class="form-control" name="frame">
            <input type="hidden" value="<%= pro._Images._Frame %>" class="form-control" name="framebis">
        </div>
        <div class="col-md-6">
            <label for="image" class="form-label">Autres Images</label>
            <input type="file" class="form-control" name= "images" multiple>
        </div>
        <div class="col-md-6">
            <label for="price" class="form-label">Prix</label>
            <input type="text" value="<%= pro._Princing._Price %>" class="form-control" name="price">
        </div>
        <div class="col-md-6">
            <label for="promo" class="form-label"> Prix Promo</label>
            <input type="text" value="<%= pro._Princing._Promo %>" class="form-control" name="promo">
        </div>
        <div class="col-md-6">
            <label for="long" class="form-label">Description</label>
            <textarea class="form-control" name="long" rows="3"><%= pro._Descriptions._Long %></textarea>
        </div>
        <div class="col-md-4">
            <label for="short" class="form-label">Description courte</label>
            <textarea class="form-control" name="short" rows="3"><%= pro._Descriptions._Short %></textarea>
        </div>
        <div class="col-md-2">
            <label for="quantity" class="form-label">Quantite</label>
            <input type="text" value="<%= pro._Quantity %>" class="form-control" name="quantity">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>